*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    padding: 50px 133px;
    height: 526px;
    background-image: url(images/desktop/image-hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.inmersive{
    margin-top: 114px;
    padding: 24px 30px;
    border: white solid 3px;
    width: 527px;
    height: 226px;
}
